<nav class="navbar px-4">
  <div class="navbar-container container-fluid">

    <a class="navbar-brand" href="#">MERCADO</a>

    <button type="button" class="navbar-cart btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
      <i class="fa-solid fa-cart-shopping fa-xl"></i>
      <div class="cart-count">0</div>
    </button>

  </div>
</nav>