<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-fullscreen">
        <div class="modal-content">

            <!-- Modal header -->
            <div class="modal-header border-0">
                <h1 class="modal-title fs-5" id="exampleModalLabel">
                    Tienes 
                    <span id="cart-counter">0</span> 
                    productos</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body"></div>

            <!-- Modal footer -->
            <div class="modal-footer border-0">
                <p class="total">Total: $<span id="cart-total">0</span></p>
                <button type="button" class="btn modal-btn">Continuar</button>
            </div>

        </div>
    </div>
</div>

