body {
    font-family: "Spline Sans", sans-serif;
}

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

.main-container {
    padding: 1.5rem;
}




/* Navbar */
.navbar {
    background-color: #007004;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline!important;
}

.navbar-brand {
    color: #fff;
    font-size: clamp(1.5rem, 5vw, 2rem);
    font-weight: bold;
}


/* Navbar cart */
.navbar-cart i {
    color: #fff;
    font-size: clamp(1.5rem, 5vw, 2rem);
}

.cart-count {
    position: absolute;
    top: 10px;
    right: 32px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 0.7rem;
  }
  


/* Hero */
.title {
    font-size: clamp(1.2rem, 5vw, 2rem);
    text-align: center;
    margin: 2rem 0rem;
}




/* Products */
/* .product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    padding-top: 2rem;
} */

 .product-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    /* overflow: hidden; */
}
.product-image img {
    width: 100%;
    max-width: 150px;
}
.product-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}
.product-info {
    padding: 1rem;
}

.product-price {
    font-weight: bold;
    font-size: 1.2rem;
}

.product-unit {
    background-color: rgb(245, 245, 245);
    border-radius: 1rem;
    font-size: 0.9rem;
    max-width: 30%;
    padding: 0.2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.product-name {
    margin: 0.5rem 0rem;
    text-transform: capitalize;
}

.product-btn {
    color:#fff;
    font-weight: bold;
    background-color: #007004;
    width: 100%;
}
.product-btn:hover {
    background-color: #004a02;
    color: #fff;
}
/*
.product-card:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}







 */



/* modal */
.modal-dialog {
    width: 60vh;
    margin-left: auto;
}

@media (max-width: 750px) {
    .modal-dialog {
        width: 100%!important;
    }
}

.modal-btn {
    background-color: #007004;
    color: #fff;
}

.modal-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.modal .total {
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 1rem;

}

.product-item-image img{
    width: 100px;
}

.product-item-container {
    display: flex;
    gap: 0.5rem;
}

.product-item-info {
    display: flex;
    justify-content: space-between;
}

.product-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.product-item-name {
    color: gray;
    font-weight: bold;
    text-transform: capitalize;
}

.product-item-total {
    font-weight: bold;
    font-size: 1.2rem;
}

.product-item-quantity {
    background-color: rgb(245, 245, 245);
    border-radius: 1rem;
    font-size: 0.9rem;
    padding: 0.2rem;
    margin-bottom: 1rem;
    text-align: center;
    max-width: 4rem;
}

